%nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{ data: { target: '#navbar-collapse', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'ASAGAO', root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li{ class: active_class(articles_path, lefthand_match: true) }= link_to 'Articles', articles_path
        %li{ class: active_class(products_path, lefthand_match: true) }= link_to 'Products', products_path
        %li{ class: active_class(about_path, lefthand_match: true) }= link_to 'About Us', about_path
        %li{ class: active_class(contact_path, lefthand_match: true) }= link_to 'Contact', contact_path
